<?xml version="1.0"?>
<config>
    <modules>
        <Icube_GiftCard>
             <version>1.11.0.0</version>
        </Icube_GiftCard>
    </modules>
    <global>
        <resources>
            <icube_giftcard_setup>
                <setup>
                    <module>Icube_GiftCard</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </icube_giftcard_setup>
        </resources>
        <models>
            <icube_giftcard>
                <class>Icube_GiftCard_Model</class>
                <resourceModel>icube_giftcard_resource</resourceModel>
            </icube_giftcard>
            <icube_giftcard_resource>
                <class>Icube_GiftCard_Model_Resource</class>
                <deprecatedNode>icube_giftcard_mysql4</deprecatedNode>
                <entities>
                    <amount>
                        <table>icube_giftcard_amount</table>
                    </amount>
                </entities>
            </icube_giftcard_resource>
        </models>
        <blocks>
            <icube_giftcard>
                <class>Icube_GiftCard_Block</class>
            </icube_giftcard>
        </blocks>
        <helpers>
            <icube_giftcard>
                <class>Icube_GiftCard_Helper</class>
            </icube_giftcard>
        </helpers>
        <catalog>
            <product>
                <type>
                    <giftcard translate="label" module="icube_giftcard">
                        <label>Gift Card</label>
                        <model>icube_giftcard/catalog_product_type_giftcard</model>
                        <price_model>icube_giftcard/catalog_product_price_giftcard</price_model>
                        <index_priority>45</index_priority>
                        <composite>0</composite>
                        <is_qty>1</is_qty>
                        <price_indexer>icube_giftcard/indexer_price</price_indexer>
                    </giftcard>
                </type>
            </product>
        </catalog>
        <template>
            <email>
                <giftcard_email_template translate="label" module="icube_giftcard">
                    <label>Gift Card Accounts Generated From Gift Card</label>
                    <file>icube/giftcard_generated.html</file>
                    <type>html</type>
                </giftcard_email_template>
            </email>
        </template>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <giftcard_type/>
                        <giftcard_amounts/>
                        <allow_open_amount/>
                        <open_amount_min/>
                        <open_amount_max/>
                        <use_config_lifetime/>
                        <lifetime/>
                        <use_config_is_redeemable/>
                        <is_redeemable/>
                        <use_config_email_template/>
                        <email_template/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <icube_giftcard_append_additional_data>
                        <class>icube_giftcard/observer</class>
                        <method>appendGiftcardAdditionalData</method>
                    </icube_giftcard_append_additional_data>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_order_save_commit_after>
                <observers>
                    <icube_giftcard_generate_giftcardaccounts>
                        <class>icube_giftcard/observer</class>
                        <method>generateGiftCardAccounts</method>
                    </icube_giftcard_generate_giftcardaccounts>
                </observers>
            </sales_order_save_commit_after>
            <catalog_product_collection_load_after>
                <observers>
                    <icube_giftcard>
                        <class>icube_giftcard/observer</class>
                        <method>loadAttributesAfterCollectionLoad</method>
                    </icube_giftcard>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <icube_giftcard module="Icube_GiftCard">
                    <file>giftcard.xml</file>
                </icube_giftcard>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <giftcard_type/>
                    <giftcard_amounts/>
                    <allow_open_amount/>
                    <open_amount_min/>
                    <open_amount_max/>
                    <use_config_lifetime/>
                    <lifetime/>
                    <use_config_is_redeemable/>
                    <is_redeemable/>
                </attributes>
            </collection>
        </product>
        <translate>
            <modules>
                <Icube_GiftCard>
                    <files>
                        <default>Icube_GiftCard.csv</default>
                    </files>
                </Icube_GiftCard>
            </modules>
        </translate>
        <secure_url>
            <giftcard_customer>/giftcard/customer/</giftcard_customer>
        </secure_url>
        <events>
            <product_option_renderer_init>
                <observers>
                    <giftcard_observer>
                        <class>icube_giftcard/observer</class>
                        <method>initOptionRenderer</method>
                    </giftcard_observer>
                </observers>
            </product_option_renderer_init>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <icube_giftcard>
                    <file>icube/giftcard.xml</file>
                </icube_giftcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <Icube_GiftCard>
                    <files>
                        <default>Icube_GiftCard.csv</default>
                    </files>
                </Icube_GiftCard>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <giftcard/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <icube_giftcard_product_edit_prepare_form>
                        <class>icube_giftcard/observer</class>
                        <method>setAmountsRendererInForm</method>
                    </icube_giftcard_product_edit_prepare_form>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <adminhtml_catalog_product_form_prepare_excluded_field_list>
                <observers>
                    <icube_giftcard_product_excluded_field_list>
                        <class>icube_giftcard/observer</class>
                        <method>updateExcludedFieldList</method>
                    </icube_giftcard_product_excluded_field_list>
                </observers>
            </adminhtml_catalog_product_form_prepare_excluded_field_list>
        </events>
    </adminhtml>
    <default>
        <giftcard>
            <email>
                <identity>general</identity>
                <template>giftcard_email_template</template>
            </email>
            <general>
                <is_redeemable>1</is_redeemable>
                <lifetime>0</lifetime>
                <order_item_status>9</order_item_status>
                <allow_message>1</allow_message>
                <message_max_length>255</message_max_length>
            </general>
        </giftcard>
    </default>
</config>
