<?xml version="1.0"?>
<config>
    <modules>
        <Icube_CustomerBalance>
            <version>1.11.0.0</version>
        </Icube_CustomerBalance>
    </modules>
    <global>
        <resources>
            <icube_customerbalance_setup>
                <setup>
                    <module>Icube_CustomerBalance</module>
                    <class>Icube_CustomerBalance_Model_Resource_Setup</class>
                </setup>
            </icube_customerbalance_setup>
        </resources>
        <models>
            <icube_customerbalance>
                <class>Icube_CustomerBalance_Model</class>
                <resourceModel>icube_customerbalance_resource</resourceModel>
            </icube_customerbalance>
            <icube_customerbalance_resource>
                <class>Icube_CustomerBalance_Model_Resource</class>
                <deprecatedNode>icube_customerbalance_mysql4</deprecatedNode>
                <entities>
                    <balance>
                        <table>icube_customerbalance</table>
                    </balance>
                    <balance_history>
                        <table>icube_customerbalance_history</table>
                    </balance_history>
                </entities>
            </icube_customerbalance_resource>
        </models>
        <blocks>
            <icube_customerbalance>
                <class>Icube_CustomerBalance_Block</class>
            </icube_customerbalance>
        </blocks>
        <helpers>
            <icube_customerbalance>
                <class>Icube_CustomerBalance_Helper</class>
            </icube_customerbalance>
        </helpers>
        <template>
            <email>
                <customer_icube_customerbalance_email_template translate="label" module="icube_customerbalance">
                    <label>Store Credit Update</label>
                    <file>icube/customerbalance_update.html</file>
                    <type>html</type>
                </customer_icube_customerbalance_email_template>
            </email>
        </template>
        <sales>
            <quote>
                <totals>
                    <customerbalance>
                        <class>icube_customerbalance/total_quote_customerbalance</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total,reward,giftcardaccount</after>
                        <renderer>icube_customerbalance/checkout_total</renderer>
                    </customerbalance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <customerbalance>
                        <class>icube_customerbalance/total_invoice_customerbalance</class>
                        <after>weee,discount,tax,grand_total,reward,giftcardaccount</after>
                    </customerbalance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <customerbalance>
                        <class>icube_customerbalance/total_creditmemo_customerbalance</class>
                        <after>weee,discount,tax,grand_total</after>
                    </customerbalance>
                </totals>
            </order_creditmemo>
            <old_fields_map>
                <order_creditmemo>
                    <base_customer_balance_total_refunded>bs_customer_bal_total_refunded</base_customer_balance_total_refunded>
                    <customer_balance_total_refunded>customer_bal_total_refunded</customer_balance_total_refunded>
                </order_creditmemo>
                <order>
                    <base_customer_balance_total_refunded>bs_customer_bal_total_refunded</base_customer_balance_total_refunded>
                    <customer_balance_total_refunded>customer_bal_total_refunded</customer_balance_total_refunded>
                </order>
                <quote>
                    <base_customer_balance_amount_used>base_customer_bal_amount_used</base_customer_balance_amount_used>
                </quote>
            </old_fields_map>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_customer_balance_amount>
                    <to_order>*</to_order>
                </base_customer_balance_amount>
                <customer_balance_amount>
                    <to_order>*</to_order>
                </customer_balance_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>customerSaveAfter</method>
                    </icube_customerbalance>
                </observers>
            </adminhtml_customer_save_after>

            <sales_quote_payment_import_data_before>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>paymentDataImport</method>
                    </icube_customerbalance>
                </observers>
            </sales_quote_payment_import_data_before>

            <sales_model_service_quote_submit_before>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>processOrderPlace</method>
                    </icube_customerbalance>
                </observers>
            </sales_model_service_quote_submit_before>

            <sales_model_service_quote_submit_failure>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>revertStoreCredit</method>
                    </icube_customerbalance>
                </observers>
            </sales_model_service_quote_submit_failure>

            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>processOrderPlace</method>
                    </icube_customerbalance>
                </observers>
            </checkout_type_multishipping_create_orders_single>

            <checkout_multishipping_refund_all>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>revertStoreCreditForAllOrders</method>
                    </icube_customerbalance>
                </observers>
            </checkout_multishipping_refund_all>

            <core_layout_update_updates_get_after>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>disableLayout</method>
                    </icube_customerbalance>
                </observers>
            </core_layout_update_updates_get_after>

            <adminhtml_sales_order_create_process_data>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>processOrderCreationData</method>
                    </icube_customerbalance>
                </observers>
            </adminhtml_sales_order_create_process_data>

            <payment_method_is_active>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>togglePaymentMethods</method>
                    </icube_customerbalance>
                </observers>
            </payment_method_is_active>

            <sales_quote_collect_totals_before>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>quoteCollectTotalsBefore</method>
                    </icube_customerbalance>
                </observers>
            </sales_quote_collect_totals_before>

            <sales_quote_merge_after>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>quoteMergeAfter</method>
                    </icube_customerbalance>
                </observers>
            </sales_quote_merge_after>

            <sales_order_invoice_save_after>
                <observers>
                    <icube_customerbalance_sales_order_invoice_save_after>
                        <class>icube_customerbalance/observer</class>
                        <method>increaseOrderInvoicedAmount</method>
                    </icube_customerbalance_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>

            <sales_order_creditmemo_save_after>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </icube_customerbalance>
                </observers>
            </sales_order_creditmemo_save_after>

            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>creditmemoDataImport</method>
                    </icube_customerbalance>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>

            <sales_order_load_after>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>salesOrderLoadAfter</method>
                    </icube_customerbalance>
                </observers>
            </sales_order_load_after>

            <sales_order_creditmemo_refund>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>refund</method>
                    </icube_customerbalance>
                </observers>
            </sales_order_creditmemo_refund>

            <rewarded_amount_after_refund_calculation>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>modifyRewardedAmountOnRefund</method>
                    </icube_customerbalance>
                </observers>
            </rewarded_amount_after_refund_calculation>

            <website_delete_before>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>setCustomersBalanceCurrencyToWebsiteBaseCurrency</method>
                    </icube_customerbalance>
                </observers>
            </website_delete_before>

            <paypal_prepare_line_items>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>addPaypalCustomerBalanceItem</method>
                    </icube_customerbalance>
                </observers>
            </paypal_prepare_line_items>
        </events>
        <pdf>
            <totals>
                <icube_customerbalance translate="title">
                    <title>Store Credit</title>
                    <source_field>customer_balance_amount</source_field>
                    <amount_prefix>-</amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>560</sort_order>
                </icube_customerbalance>
                <icube_customerbalance_total_refunded translate="title">
                    <title>Refunded to Store Credit</title>
                    <source_field>customer_bal_total_refunded</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>700</sort_order>
                </icube_customerbalance_total_refunded>
            </totals>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <Icube_CustomerBalance>
                    <files>
                        <default>Icube_CustomerBalance.csv</default>
                    </files>
                </Icube_CustomerBalance>
            </modules>
        </translate>
        <layout>
            <updates>
                <icube_customerbalance module="Icube_CustomerBalance">
                    <file>customerbalance.xml</file>
                </icube_customerbalance>
            </updates>
        </layout>
        <routers>
            <icube_customerbalance>
                <use>standard</use>
                <args>
                    <module>Icube_CustomerBalance</module>
                    <frontName>storecredit</frontName>
                </args>
            </icube_customerbalance>
        </routers>
        <secure_url>
            <storecredit_info>/storecredit/info/</storecredit_info>
        </secure_url>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerbalance before="Mage_Adminhtml">Icube_CustomerBalance_Adminhtml</customerbalance>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <icube_customerbalance>
                    <file>icube/customerbalance.xml</file>
                </icube_customerbalance>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_prepare_save>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>prepareCustomerBalanceSave</method>
                    </icube_customerbalance>
                </observers>
            </adminhtml_customer_prepare_save>
            <sales_prepare_amount_expression>
                <observers>
                    <icube_customerbalance>
                        <class>icube_customerbalance/observer</class>
                        <method>extendSalesAmountExpression</method>
                    </icube_customerbalance>
                </observers>
            </sales_prepare_amount_expression>
        </events>
        <translate>
            <modules>
                <Icube_CustomerBalance>
                    <files>
                        <default>Icube_CustomerBalance.csv</default>
                    </files>
                </Icube_CustomerBalance>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <customer>
            <icube_customerbalance>
                <is_enabled>1</is_enabled>
                <email_template>customer_icube_customerbalance_email_template</email_template>
                <email_identity>general</email_identity>
                <show_history>1</show_history>
            </icube_customerbalance>
        </customer>
        <sales>
            <totals_sort>
                <customerbalance>95</customerbalance>
            </totals_sort>
        </sales>
    </default>
</config>
